body, html {
	width: 100%;
	height: 100%;
}

.title {
	text-align: center;
	height: 20em;
	background-color: #1F2324;
	color: white;
	height: 100vh;
	width: 100%;
	display: table;
}

.title h1 {
	display: table-cell;
	vertical-align: middle;
}

.scroll-down {
	padding: 0.5em;
	margin: 1em;
	background-color: #888;
	border-radius: 5em;
}

ul {
	list-style: none;
	padding: 0;
}

.item .jumbotron {
	background-color: #33373A;
	color: #ecf0f1;;
	padding: 8em;
}

.jumbotron {
	margin: 0;
}

.inter-img {
	width: 100%
}

.plx-img {
	height: 25em;
}

.plx-float {
	position: fixed;
}

.plx-curtain {
	position: absolute;
	transition: all 0.5s ease-in-out;
	z-index: 5;
}

.bubble {
	line-height: 3em;
	border-radius: 3em;
	background-color: white;
	color: white;
	padding: 1.5em;
	margin: 1em;
	box-shadow: 0 0 0.5em #888;
	background-color: #2ecc71;
}